<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>QReative needs camera access to scan QR codes</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>QReative needs photo library access to save and import QR codes</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>QReative needs permission to save QR codes to your photo library</string>
</dict>
</plist>
